#navbar {
    padding: 0;
    background-color: #9ba5bd;
    min-width: 100%;
    min-height: 50px;
}


.navbar-brand {
    margin: 0 1rem;
    background-image: url("../assets/logo/Events_forest.png");
    width: 150px;
    height:70px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.container-fluid {
    background-color: #9ba5bd;
    padding: 10px;
}

.nav-pointer {
    cursor: pointer;
}

.nav-pointer:hover {
    background-color: #C8C2BC;
    border-radius: 3px;
}

.sign-container {
    position: relative;
    display: flex;
    top: 0px;
    right: 10px;
    align-items: center;
}

.form-control {
    border: 1px solid #C8C2BC;

}

.index-sliders {
    word-spacing: -2px;
}

#search {
    margin-left: 5px;
}

.collapse {
    justify-content: space-between;
}

.nav-form-search {
    margin-block-end: 5px;
}

.nav-link, .profile-link {
    padding: 7px;
    color: #F1CA89;
    align-self: baseline;
}

.nav-link, .profile-link:hover {
    color: #F1CA89;
}
