@font-face {
    font-family: 'Quick';
    src: url('../fonts/Quick.ttf') format('OpenType'),
    url('../fonts/Quick.ttf') format('TrueType');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Locomotype';
    src: url('../fonts/Locomotype  GigaSansLight.otf') format('OpenType'),
    url('../fonts/Locomotype  GigaSansRegular.otf') format('OpenType'),
    url('../fonts/Locomotype  GigaSansBold.otf') format('OpenType');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Locomotype-bold';
    src: url('../fonts/Locomotype  GigaSansBold.otf') format('OpenType');
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: 'Quick';
}


h2 {
    text-align: center;
    color: #483826;
}

/*modal windows*/


.registration-title, .authentication-title {
    font-family: 'Locomotype';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 10px auto;
}

.auth-sign-input {
    justify-content: space-around;
    width: 65%;
}

.modal-title {
    color: #483826;
}

.vmodal {
}

.vmodal.open .modal-overlay,
.vmodal.open .modal-window {
    opacity: 1;
    z-index: 1000;
}

.vmodal.hide .modal-overlay,
.vmodal.hide .modal-window {
    opacity: 1;
    z-index: 1000;
}

.vmodal.open .modal-window {
    transform: translateY(100px);
}

.vmodal.open .modal-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.vmodal.hide .modal-window {
    transform: translateY(-200px);
}

.vmodal.hide .modal-overlay {
    background: rgba(0, 0, 0, 0);
}

.modal-window, .modal-overlay {
    opacity: 0;
    z-index: -1;
}

.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    transition: background .2s ease-in;
}

.modal-window {
    width: 600px;
    border-radius: 5px;
    background: #ffffff;
    margin: 0px auto;
    transform: translateY(-200px);
    transition: transform .2s ease-in;
}

.modal-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(151, 148, 171, 0.5);
}

.modal-title {
    padding: 5px;
    font-size: 1.5rem;
}


.modal-body {
    padding: 10px;
}

.modal-body p {
    padding: 5px;
    margin-bottom: auto;
}

.modal-footer {
    flex-shrink: 0;
    width: 100%;
    padding: 7px 10px;
    border-top: 1px solid rgba(151, 148, 171, 0.5);
}


.modal-creation {
    margin: 5px;
    display: flex;
    justify-content: flex-end;
}

.home-page-main-section {
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
}

.col {
    flex: 1 1 auto;
    min-height: 100%;
    max-width: 280px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    height: 410px;
}

.col {
    margin-bottom: 20px;
}

.card {
    height: 300px;
    max-width: 280px;
    margin: auto;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body {
    text-align: center;
    max-width: 280px;
    margin: 0;
}

.card-text {
    font-family: 'Locomotype';
}


/* Aside */

article {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.events-container {
    padding: 15px;
    width: 70%;
    min-height: 900px;
}

/*aside {*/
/*    background: #f0f0f0;*/
/*    padding: 10px;*/
/*    width: 200px;*/
/*    float: right;*/
/*}*/


@media screen and (max-width: 980px) {
    .modal-window {
        max-width: 450px;
        top: 50%;
        left: 50%;
    }

    .sign-input {
        min-width: 65%;
    }

    .sign-container {
        justify-content: center;
        margin: 15px;
    }
}

@media screen and (max-width: 768px) {
    .modal-window {
        max-width: 300px;
        top: 50%;
        left: 50%;
    }

    .sign-container {
        justify-content: center;
        margin: 10px;
    }

    .registration-title, .authentication-title {
        font-family: 'Locomotype';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        margin: 10px auto;
        flex-wrap: wrap;
        align-content: space-around;
    }

    .sign-input {
        min-width: 65%;
    }

    article {
        flex-direction: column;
        width: 100%;
    }

    .events-container {
        width: 100%;
    }

    .col {
        min-width: 300px;
    }
}
